@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;700&display=swap');

:root{
    --botaoativo: rgba(219, 214, 186, 0.95);
    --botaoinativo: rgba(161, 145, 144, 0.986);
    --texto1: rgba(88, 81, 81, 0.911);
    --texto2: rgba(187, 159, 159, 0.99);
    --numero7: rgba(180, 196, 236, 0.99);
    --palavra1dias: rgba(154, 164, 191, 0.98);
    --numero13: rgba(225, 178, 241, 0.98);
    --palavra2horas: rgba(179, 151, 189, 0.99);
    --numero18: rgba(225, 179, 179, 0.99);
    --palavra3min: rgba(225, 179, 179, 0.99);
    --numero13: rgba(225, 179, 179, 0.99);
    --palavra4seg: rgba(225, 179, 179, 0.99);
    --cordefundo: rgba(243, 242, 200, 0.99);
    --cordafonte: rgb(71, 61, 61);
}
body{
    background-color: var(--cordefundo);
    color: var(--cordafonte);
    font-family: 'Chakra Petch','Sans-Serif';
}
.conteúdo-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin:0 auto;
}
.titulo-principal{
    text-align: left;
    width: 100%;
    font-size: 28px;
}
.titulo-principal span{
    color: var(--branco);
}
.botão{
    font-family:'Chakra Petch','Sans-Serif';
    background-color: var(--botaoinativo);
    color: var(--branco);
    display: flex;
    justify-content: center;
    padding: 1em;
    font-size: 18px;
    align-items: center;
    width: 100%;
    border-bottom: 4px solid var(--botaoativo);
    border-left: 2px solid var(--botaoativo);
    border-right: 2px solid var(--botaoativo);
    border-top: none;
}
.botão:first-child{
    border-radius: 40px 40px 0 0;

}
.botoes{
    display: block;
}
.ativo{
    background-color: var(--botaoativo);
    border-bottom: 4px solid var(--texto1 );
}
.abas-texto{
    background-color: var(--cordefundo);
    padding: 40px;
    border-radius: 0 0 40px 40px;
}
.aba-conteudo.ativo{
    display: block;
}
.aba-conteudo{
    display: none;
}
.aba-conteudo-titulo-principal{
    font-size: 28px;
    text-align: center;
}
.aba-conteudo-titulo-secundario{
    text-align: center;
    color:  var(--cordafonte);
    text-transform: uppercase;
}
.contador{
    text-align: center;
    font-size: 20px;
}

@media screen and (min-width: 768px){
    .botoes{
        display: flex;
    }
    .botão:first-child{
        border-radius: 40px 0 0 0;
    }
    .botão:last-child{
        border-radius: 0 40px 0 0;
    }
}
